// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pictures {

	table {
      margin-top: 80px;
      border-radius: 10px;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, 0.9) inset;
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 1px 0 rgba(255,255,255,0.9) inset;
      -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 1px 0 rgba(255,255,255,0.9) inset;
      -o-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 1px 0 rgba(255,255,255,0.9) inset;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, 0.9) inset;
      background: white;
    	border-collapse: collapse;
    	margin-left: 200px;
    	margin-right: 200px;
  	}

  	table tr td {
    	padding: 40px 10px 40px 20px;
    	vertical-align: top;
  	}

  	.list_picture {
  		border-bottom:thick solid #EDEDED;
  		border-bottom-width:1px;
  	}

	.list_image {
    border: 5px solid #d4d4cd;
		width: 450px;
	}

	.list_description{


    	dl {
      		margin: 5px 0 0 -15px;
    	}

    	dt {
      		color:        #6699FF;
      		font-weight:  bold;
      		font-size:    larger;
    	}

    	dd {
      		margin: 0;
    	}
	}

	.list_actions {
			font-size:    x-small;
    		text-align:   left;
  	}
}